<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            input{
                padding:10px 27px;
                outline: none;
                border-radius: 5px;
            }
            button{
                padding: 5px 10px ;
                background-color: green;
                color: white;
                font-weight: 300;
                border-radius: 4px;
                font-size:16px;
                
            }
            button:hover{
                background: #000;
            }
            .di{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100vh;
                gap: 5px;
            }
        </style>
    </head>
    <body>
        <div class="di">

            <div>
                <h1>Enter new password</h1>
            </div>
            <div>
                <input type="password" placeholder="Enter new Passwoed">
                <button onclick="handleSubmit()">Submit</button>
            </div>
        </div>
    </body>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script>
        let input=document.querySelector('input')
        let btn=document.querySelector('button')
         async function handleSubmit(){
            let password=input.value;
            console.log(password)
            let resettoken="<%= token %>"
               let res= await axios.post(`https://socilamedia-1.onrender.com/user/token/${resettoken}`,{password})

               const data=res.data;
               if(data.success){
                alert("Password updated successfully \n You can login now from app")
               }else{
                alert("Something went wrong")
               }
        }
    </script>
</html>